<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Helping Hands | Create Issue</title>
    <link rel="stylesheet" href="../static/css/semantic.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <style media="screen">
        body{
          background: url("../static/images/mainbg.jpg") ;
        }
    </style>
  </head>
  <body>
    <div class="ui fixes inverted menu">
      <div class="ui container">
        <div class="header item">
          Helping Hands
        </div>
        <a href="#" class="item">Home</a>
      </div>
    </div>
    <div class="ui main text container segment contin">
      <div class="ui huge header">Close Problem</div>
      <form class="ui form">
        <div class="field">
            <label>Donor - User Name</label>
            <input type="text" name="" value="" placeholder="Enter the User name of Donor">
        </div>
        <div class="field">
            <label>Rating</label>
            <input type="number" name="" value="" min=0 max="10" placeholder="Give Rating between 0 and 10 according to the Donation/ Activity">
        </div>
        <input class="ui violet big basic button"type="submit">
      </form>
    </div>
</body>
</html>
