<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Helping Hands | Create Issue</title>
    <link rel="stylesheet" href="../static/css/semantic.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <style media="screen">
        body{
          background: url("../static/images/mainbg.jpg") ;
        }
    </style>
  </head>
  <body>
    <div class="ui fixes inverted menu">
      <div class="ui container">
        <div class="header item">
          Helping Hands
        </div>
        <a href="#" class="item">Home</a>
      </div>
    </div>
    <div class="ui main text container segment contin">
      <div class="ui huge header">New Problem</div>
      <form class="ui form" id="issue_form">
        <div class="field">
            <label>Title</label>
            <input type="text" id="title" value="">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea id="body" rows="8" cols="80"></textarea>
        </div>
        <input class="ui violet big basic button"type="submit" value="Submit">
      </form>
    </div>


<!--===============================================================================================-->
	<script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/daterangepicker/moment.min.js"></script>
	<script src="../static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/js/signup/main.js"></script>
  <script src="../static/js/signup.js"></script>
</body>
</html>
